{{> layout/header}}

<style>
    .offer-table th, .offer-table td {
        text-align: center;
        vertical-align: middle; /* 셀 내용을 수직 가운데 정렬 */
    }
</style>

<div class="container">
    <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
        <br>
        <h2>상품 등록 리스트</h2>
        <br>

        <!--        목록 -->
        <thead>
        <tr>
            <th class="center-align col-1">No</th>
            <th class="center-align col-5">상품명</th>
            <th class="center-align col-2">상품가격</th>
            <th class="center-align col-2">상품수량</th>
            <th class="center-align col-2">상세보기</th>
        </tr>
        </thead>
        <!--        목록 끝-->

        <!--        상품 테이블-->
        <tbody>
        {{#productList}}
            <tr class="offer-table">
                <th scope="row">{{indexNumb}}</th>
                <td>{{name}}</td>
                <td class="price">{{price}}</td>
                <td class="qty">{{qty}}</td>
                <td>
                    <div class="new-create-button">
                        <form action="/product/{{id}}">
                            <button type="submit" class="btn btn-outline-primary">상세보기</button>
                        </form>
                    </div>
                </td>
            </tr>
        {{/productList}}
        </tbody>
        <!--        상품 테이블 끝-->

    </table>
</div>

<div style="margin-bottom: 15%"></div>

<script src="/js/list.js"></script>

{{> layout/footer}}
